footer {
    margin-top: 20vh;   
    padding: 5px;   
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    width:100%;
}   

footer.child {
    background-color: rgb(18, 18, 18, 0.80);
    font-style: italic;
    font-size: smaller;
    border-radius: 5px;
    width:auto;
}

.footeritem {
    margin-right: 10%;
}

@media screen and (max-width: 600px) {
    footer {
        justify-content: center;
    }
}