body {
    background-color: rgb(243, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    user-select: none;
}

h1 {
    text-align: center;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: 400;
    font-size: 3rem;;
    margin-top: 80px;
}

img {
    width: 70%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.1s ease, 0.1s;
}

.flexbox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
}

.boxcontent {
    width: 40%;
    margin: 1%;
    padding: 1%;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.aResult {
    background-color: antiquewhite;
    width: 24%;
    margin: 5px;
    height: 15vh;
    white-space: pre-line;
    text-align: center;
}

@media screen and (max-width: 600px) { /*Om Skärmen är mindre än 601px:*/
    body {
        font-size: smaller;
    }
    h1 {
        font-size: 2rem
        
    }
    .boxcontent {
        width: 90%;
    }
    .aResult {
        width: 40%
    }
}

@media screen and (max-width: 7000px) {
    
}