table {
    width: 100%;
}

tfoot {
    background-color: rgb(130, 130, 130, 0.6);
    font-weight: bold;
}

th, td {
    margin: 1%;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
}

th {
    background-color: rgb(130, 130, 130, 0.6);
}

.type { 
    background-color: rgb(130, 130, 130, 0.2);
}