body {
    background-color: rgb(243, 243, 243);
    font-family: 'Times New Roman', Times, serif;
    color: black;
    user-select: none;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;;
    margin: 40px;
}


.navbar {
    background-color: rgb(18, 18, 18);
    height: clamp(2rem, 8vh, 40rem);
    margin: -15px;
    display: flex;
    align-items: center;
}

.navbar li {
    display: inline-block;
    overflow: hidden;
}

.navlänk {
    color: rgb(205, 204, 204);
    text-decoration: none;
    font-size: 1.8vw;
    text-align: center;
    line-height: 7vh;
    display: block; 
    margin: 10px;
}

.nuvarande_sida {
    font-weight: bold;
}

.navlänk:hover {
    color: white;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.1s ease, 0.1s;
    
}

.flexbox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: start;
}

.boxcontent {
    width: 50%;
    margin: 10px;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    border-radius: 5px;
}

.aResult {
    background-color: antiquewhite;
    width: 24%;
    margin: 5px;
    height: 15vh;
    white-space: pre-line;
    text-align: center;
}

.black {
    background-color: rgb(40, 40, 40);
    color: white;
    order: 1;
}
.yellow {
    background-color: rgb(230, 230, 110);
    order: 7;
}
.green {
    background-color: rgb(66, 137, 66);
    order: 8;
}
.blue {
    background-color: rgb(63, 63, 164);
    color: white;
    order: 9;
}
.red {
    background-color: rgb(225, 56, 56);
    order: 5;
}
.purple {
    background-color: blueviolet;
    color: white;
    order: 10;
}
.white {
    background-color: white;
    order: 3;
}
.metallic {
    background-image: url(metallic_silver.jpg);
    order: 12;
}
.brown {
    background-color: rgb(103, 64, 46);
    color: white;
    order: 4;
}
.grey {
    background-color:rgb(154, 154, 154);
    order: 2;
}
.orange {
    background-color: orange;
    order: 6;
}
.pink {
    background-color: pink;
    order: 11;
}